<!DOCTYPE html>

{% load bootstrap3 %}
{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#70b8ff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% bootstrap_css_url %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>HackNYU {% block title %}{% endblock %}</title>

</head>
<body>
    
    <div id="wrapper">
        <div class="container">
        <h1> Where Your Health Matters </h1>
            <div class="row">
                <div class="col-sm-9">
                    <ul class="nav nav-tabs nav-justified">
                      <li role="presentation"><a href="{% url 'hacknyu:index' %}">Home</a></li>
                      <li role="presentation"><a href="#">About</a></li>
                      <li role="presentation"><a href="#">FAQ</a></li>
                      <li role="presentation"><a href="#">Contact</a></li>
                      <li role="presentation"><a href="#">For Doctors</a></li>
                      <li role="presentation"><a href="#">Security</a></li>
                      <li role="presentation"><a href="#">Help</a></li>
                    </ul>
                    {% bootstrap_messages %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUQDEXEr05CMdiF8mr3J9RJ7rvipm1pwc&callback=initMap">
    </script>
    <script src="{% bootstrap_jquery_url %}"></script>
    <script src="{% bootstrap_javascript_url %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>