{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}FAQs{% endblock %}
{% block content %}
    <div class="page-header">
        <h3>Frequently Asked Questions</h3>
    </div>
    <div class="main">
        <h2>Frequently asked questions: </h2>
        <h3>Where are we located? </h3>
        <h4>We are located in Brooklyn, New York. You can look for us around the corner of Jay St. We're the nice looking building overlooking the courthouse.
        <h3>What is working life like at MRI? </h3>
        <h4>Work here is exciting because every one of our employees here is committed to the company's mission to present as accurately as possible health information and instantly on demand for all our customers. </h4>
        <h3>What is MRI? </h3>
        <h4>MRI shows the customer detailed health information on demand for you anywhere, anytime, and as fast as possible. </h4>
        <h3>Where does Mri gets their health information? </h3>
        <h3>Who are MRI's partners? </h3>
        <h3>Why should I use MRI? </h3>

    </div>
{% endblock %}