{% extends "base.html" %} 
{% block title %}Index{% endblock %} 
{% block content %}
{% if not request.user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'hacknyu:register' %}">Register</a>
<a class="btn btn-primary" href="{% url 'hacknyu:login' %}">Login</a>
{% else %}
<a class="btn btn-primary" href="{% url 'hacknyu:logout' %}">Logout</a>
<div class="row">
	Hello {{ request.user.first_name }}  {{ request.user.last_name }}!
</div>
<div class="row">
	Here are your five most recent lab reports:
	{% for labreport in recent %}
		<div class="container-fluid">
			<div class="bordernfill">
				<table class="table">
					<tr>
						<td><b>Full Name:</b> {{ labreport.user.first_name }}  {{ labreport.user.last_name }}</td>
						<td><b>Age:</b> {{ request.user.patient.age }}</td>
						<td><b>Date:</b> {{ labreport.date }}</td>
					</tr>
					<tr>
						<td colspan="3"><b>Illness:</b> {{ labreport.illness }}</td>
					</tr>
					<tr>
						<td colspan="3"><b>Treatment:</b> {{ labreport.treatment }}</td>
					</tr>
					<tr>
						<td colspan="3" style="text-align: center"><a href="{% url 'hacknyu:detail' labreport.pk %}">Click here for more details!</a></td>
					</tr>
				</table>
			</div>
		</div>
	{% endfor %}
	<a class="btn btn-primary" href="{% url 'hacknyu:history' %}">See all</a>
</div>

{% endif %}
{% endblock %}
