{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="page-header">
        <h3>Welcome to the login page!</h3>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% block button %}
            {% buttons submit='Submit' %}{% endbuttons %} 
        {% endblock %}
    </form>
	<a class="btn btn-primary" href="{% url 'hacknyu:register' %}">Register</a>
{% endblock %}