{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1>Register</h1>
    <hr/>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form register %}

        <!-- Tab panes -->
        <div class="tab-content">
            {% bootstrap_form patient %}
        </div>
        {% block button %}
            {% buttons submit='Submit' reset="Clear" %}{% endbuttons %}
        {% endblock %}
    </form>

    
{% endblock %}